.link {
  margin: 2px;
  text-align: center;
  background-color: red;
  flex-basis: calc(100% / 3 - 4px);
  color: white;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.stats {
  margin-left: auto;
}

.biography {
  margin-left: auto;
}

#search {
  width: 315px;
}
.searchBar {
  margin-left: 38%;
  width: 26%;
}
.searchButton {
  margin-left: 38%;
  width: 26%;
}
